* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: white;
  color: black;
  scroll-behavior: smooth;
  font-size: 17px;
}

*:focus {
  outline: none;
}

.search_wrap.search_wrap_6 .search_box .input {
  padding-right: 145px;
}

.search_wrap.search_wrap_6 .search_box .btn {
  border-radius: 25px;
}

.btn p {
  background: none;
}

.search_wrap.search_wrap_5 .search_box .btn {
  width: 125px;
  height: 45px;
  top: 8px;
  right: 5px;
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 1000px;
  padding: 20px;
  background: #7690da;
  margin: 25px auto;
  border-radius: 5px;
  text-align: center;
}

.header p {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.container .input {
  border: 0;
  outline: none;
  color: #8b7d77;
}

.search_wrap {
  width: 500px;
  margin: 38px auto;
}

.search_wrap .search_box {
  position: relative;
  width: 500px;
  height: 60px;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b6b 100%);
  z-index: 1;
  cursor: pointer;
}

.search_wrap .search_box .btn:hover {
  background-image: linear-gradient(-45deg, #ffc796 50%, #ff6b6b 100%);
}

.search_wrap .search_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}

.search_wrap.search_wrap_6 .search_box .input {
  border-radius: 50px;
}

.search_wrap.search_wrap_6 .search_box .btn {
  width: 125px;
  height: 45px;
  top: 8px;
  right: 5px;
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_wrap.search_wrap_6 .search_box .btn {
  border-radius: 25px;
}

.search_wrap.search_wrap_6 .search_box .input {
  padding-right: 145px;
}

.loader {
  position: absolute;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large {
  width: 100%;
  height: 100%;
  top: 0%;
}

.small {
  background: none;
  left: 45%;
  z-index: 30;
  top: 159%;
  width: 10%;
  height: 10%;
}

.loader > span {
  display: inline-block;
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b6b 100%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  margin: 0 8px;
  transform: translate3d(0);
  animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    width: 100px;
    height: 100px;
    transform: translate3d(0, -100px, 0);
  }
}

.nav-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
  z-index: 25;
  box-shadow: 1px 1px 5px grey;
  position: absolute;
  top: 0;
  position: fixed;
}
.logo {
  cursor: pointer;
  margin-right: auto;
  font-weight: bold;
  font-size: 1.7em;
}

.logo a {
  font-size: 0.8em;
  text-decoration: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 1em;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  font-size: 1em;
}

.table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.table td,
table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.table th {
  background-color: #eb6750;
  color: #ffffff;
}

/* .custom-shape-divider-bottom-1615671062 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background: none;
}

.custom-shape-divider-bottom-1615671062 svg {
    position: relative;
    display: block;
    width: calc(1000% + 10000px);
    height: 700px;
    transform: rotateY(180deg);
    background: none;
    
}

.custom-shape-divider-bottom-1615671062 .shape-fill {
    fill: #FFFFFF;
} */

.imag {
  background: none;
}

.section1 {
  padding-top: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  padding-top: 300px;
}

.csgoSection1 {
  position: relative;
  display: flex;
  justify-content: center;
  height: 97vh;
  width: 100%;
  flex-direction: column;
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b6b 100%);
}

.csgoSection1 h1 {
  margin-left: 4vw;
  font-size: 8em;
  margin-top: -20vh;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  color: white;
  z-index: 0;
  text-transform: uppercase;
}

.csgoSection1 h5 {
  color: white;
  z-index: 0;
  text-transform: uppercase;
  margin-left: 4.5vw;
  font-size: 2.7em;
  margin-top: 6vh;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

.csgoSection1 img {
  height: 300px;
  width: 300px;
  background-color: transparent;
  position: absolute;
  left: 20vw;
  bottom: 10vh;
  z-index: 1;
}

.custom-shape-divider-bottom-1615671062 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background: none;
}

.custom-shape-divider-bottom-1615671062 svg {
  position: relative;
  display: block;
  width: calc(144% + 1.3px);
  height: 107px;
  transform: rotateY(180deg);
  background: none;
}

.custom-shape-divider-bottom-1615671062 .shape-fill {
  fill: #ffffff;
}

.reactNavLink {
  text-decoration: none;
}

.section1 h1 {
  text-align: center;
  margin-left: 4vw;
  font-size: 8em;
  margin-top: -20vh;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  color: white;
  z-index: 0;
  text-transform: uppercase;
}

.section1 h5 {
  text-align: center;
  color: white;
  z-index: 0;
  text-transform: uppercase;
  margin-left: 4.5vw;
  font-size: 2.7em;
  margin-top: 6vh;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
}

#section2 {
  margin-top: 5vh;
  height: 77vh;
}

#section2 h1 {
  font-size: 4em;
  text-align: center;
  background: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}

#stat-form {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: none;
}

.table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.table td,
table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.table th {
  background-color: #eb6750;
  color: #ffffff;
}

.csgo-profile {
  border-style: solid;
  border-color: black;
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b6b 100%);
  width: 65%;
  margin: auto;
  height: 300px;
  border-radius: 50px;
  position: relative;
}

.csgo-profile img {
  border-style: solid;
  border-color: black;
  width: 200px;
  height: 200px;
  margin-left: 75px;
  margin-top: 25px;
  border-radius: 50px;
}

.csgo-profile h5 {
  position: absolute;
  margin-left: 320px;
  bottom: 200px;
  font-size: 3em;
  background: none;
  font-family: "Montserrat", sans-serif;
}

#playtime {
  bottom: 150px;
  font-size: 1.5em;
}

#profile-url {
  bottom: 50px;
  font-size: 1em;
}

.csgo-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: black;
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b6b 100%);
  width: 65%;
  margin: auto;
  margin-top: 25px;
  height: 120vh;
  border-radius: 50px;
  position: relative;
  margin-bottom: 100px;
}

#steam-id-example {
  text-align: center;
}


.csgo-stat-card {
  margin-top: 50px;
   margin-bottom: 50px;
  width: 75%;
  height: 50vh;
  border-radius: 45px;
  background: none;
 
}

.csgo-data-container {
  flex-wrap:wrap;
  border-radius: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: black;
  background-image: linear-gradient(-45deg, #f8d0ac 0%, #fc9898 100%);
}

.data-title {
  background: none;
  position:absolute;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 1.5em;
}

.csgo-data-card {
  margin-top: 100px;
  position: relative;
  background-color: white;
  border-style: solid;
  border-color:black;
  height: 100px;
  min-width: 200px;
  border-radius: 20px;
}

.csgo-data-card-h4 {
   font-size: 1.2em;
  margin-left: 15px;
  position: absolute;
  margin-top: 10px;
  background: none;
  text-align: left;
}

.csgo-data-card-h2 {
  margin-left: 15px;
  position: absolute;
  font-size: 2.5em;
  margin-top: 40px;
  background: none;
  text-align: left;
}

.csgo-data-card-h2 {
  background: none;
}

#nA {
  opacity: 0.1;
}

.comingSoonh1 {
  top: 40%;
  left: 50%;
  position: absolute;
  text-align: center;
  font-size: 6em;
  transform: translate(-50%, -50%);
}

.comingSoonh2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3em;
  position: absolute;
}
.card {
  background: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0.2rem;
}
.card h3 {
  margin-top: 0.5rem;
  background: none;
}

.card img {
  border-radius: 5rem;
  width: 400px;
  height: 400px;
}

.card-list {
  background: none;
  margin-top: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  z-index: 10;
}

.csgo-card-list {
  margin-top: 100px;
  width: 99.1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 10;
  gap: 30em;
  height: 100px;
  line-height: 100px;
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b6b 100%);
  border-radius: 15px 300px;
}

.tab {
  display: none;
}

.active-tab {
  display: block;
}

.csgo-card-list h1 {
  gap: 10em;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  background: none;
  color: white;
}

.csgo-card-list h1:hover {
  color: red;
  cursor: pointer;
}

.stat-header {
  color: black;
}

#tourn-container {
  height: 100vh;
}

.tourn-title {
  margin-top: 50px;
  font-size: 4em;
  text-align: center;
}

#tournament-cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
  gap: 200px;
  margin-bottom: 50px;
}

#tourn-card {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tourn-card img {
  width: 300px;
  height: 300px;
}

.tourn-title {
  font-size: 2em;
}

.tourn-starttime {
  margin-top: 25px;
}


@media (min-width: 992px) {
  * {
    font-size: 15px;
  }
}

@media (max-width: 850px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 695px) {
  /*switch to mobile*/

  .section1 h1 {
    font-size: 4em;
  }

  .section1 h5 {
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  * {
    font-size: 15px;
  }

  .csgoSection1 img {
    height: 500px;
    width: 600px;
    background-color: transparent;
    position: absolute;
    left: 58vw;
    bottom: 20vh;
    z-index: 1;
  }
}
