* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
    scroll-behavior: smooth;
    font-size: 17px;
}

.nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    z-index: 25;
    box-shadow: 1px 1px 5px grey;
    position: absolute;
    top: 0;
    position: fixed;
}
.logo {
    cursor: pointer;
    margin-right: auto;
    font-weight: bold;
    font-size: 1.7em;
}

.logo a {
    font-size: 0.8em;
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 1em;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 1em;
}



.table {
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.table td, table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #eb6750;
    color: #ffffff;
}

/* .custom-shape-divider-bottom-1615671062 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background: none;
}

.custom-shape-divider-bottom-1615671062 svg {
    position: relative;
    display: block;
    width: calc(1000% + 10000px);
    height: 700px;
    transform: rotateY(180deg);
    background: none;
    
}

.custom-shape-divider-bottom-1615671062 .shape-fill {
    fill: #FFFFFF;
} */

.section1 {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-image: linear-gradient(-45deg, #FFC796 0%, #ff6b6b 100%);
    padding-top: 300px;
}


.section1 h1 {
    margin-left: 4vw;
    font-size: 8em;
    margin-top: -20vh;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 0;
    text-transform: uppercase;
}


.section1 h5 {
    color: white;
    z-index: 0;
    text-transform: uppercase; ;
    margin-left: 4.5vw;
    font-size: 2.7em;
    margin-top: 6vh;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
}


#section2 {
    margin-top: 50px;
    height: 200vh;
}

.stat-header {
    text-align:center;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

#steam-id {
    margin-top: 50px;
    width: 370px
}

#stat-form {
    display: flex;
    align-items: center ;
    flex-direction: column;
}

.table {
    margin-top: 40px;
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.table td, table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #eb6750;
    color: #ffffff;
}

#submit-button {
    margin-top: 20px;
}

.card {
    background: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0.2rem;
}
.card h3 {
  margin-top: 0.5rem;
  background: none;
}

.card img {
      border-radius: 5rem;
    width: 400px;
    height: 400px;
}

.card-list{
background: none;
  margin-top: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  z-index: 10;
}


@media (min-width: 992px) {
    * {
        font-size: 15px;
    }

}

@media (max-width:850px) {
    * {
        font-size: 14px;
    }
}

@media (max-width:695px) {
     /*switch to mobile*/

    .section1 h1 {
        font-size: 4em;
    }

    .section1 h5 {
        font-size: 1.5em;
    }

}